<h3>Horizontal Form</h3>
  <%= bootstrap_form_for @user, layout: :horizontal do |form| %>
    <%= form.email_field :email, placeholder: "Enter Email", label: "Email address", help: "We'll never share your email with anyone else" %>
    <%= form.password_field :password, placeholder: "Password" %>
    <%= form.select :status, [['activated', 1], ['blocked', 2]], prompt: "Please Select" %>
    <%= form.text_area :misc %>
    <%= form.check_box :terms, label: "Agree to Terms" %>
    <%= form.collection_check_boxes :misc, @collection, :id, :street %>
    <%= form.collection_radio_buttons :misc, @collection, :id, :street %>
    <%= form.file_field :misc %>
    <%= form.datetime_select :misc, include_blank: true %>

    <%= form.submit %>
<% end %>
