<h1>Sign Up!</h1>
<%= render "partials/flash" %>
<%= form_for @user do |f| %>

  <div class="form-group">
    <%= f.label "Username" %>
    <%= f.text_field :user_name, class: 'form-control', placeholder: 'username' %>
  </div>

  <div class="form-group">
    <%= f.label "E-Mail" %>
    <%= f.text_field :email, class: 'form-control', placeholder: 'email' %>
  </div>

  <div class="form-group">
    <%= f.label "Age" %>
    <%= f.number_field :age, class: 'form-control', placeholder: 'age' %>
  </div>

  <div class="form-group">
    <%= f.label "Password" %>
    <%= f.password_field :password, class: 'form-control', placeholder: 'password'%>
  </div>

  <div class="form-group">
    <%= f.label "Confirmation" %>
    <%= f.password_field :password_confirmation, class: 'form-control', placeholder: 'password' %>
  </div>

  <%=  f.submit class: 'btn btn-primary btn-lg' %>

<% end %>
